{% extends "templates/template.html" %}

{% block title%}You are Found!{% endblock %}

{%block message%} {{kittten}} {% endblock %}

{%block image %} src="/media/cat.png" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen {%endblock%}

{%block button%}
<form method="get" action = "/cat1">
   <input id="submit_button" value = "Run" type="submit"><span></span>
</form>
<form method="get" action = "/cat2">
   <input id="submit_button" value = "Stay" type="submit"><span></span>
</form>
{% endblock %}
