<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/cat_2button.css">
    <script src="welcome.js"></script>
    <title>Main Page</title>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <h1> You are Found!!</h1>
    <p> {{Katt}} </p>
    <div id = "image">
      <img src="/media/cat.png" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></img>
   </div>
    <div id="button">
      <form method="get" action = "/catB">
         <input id="submit_button" value = "Run" type="submit"><span></span>
      </form>
      <form method="get" action = "/catA">
         <input id="submit_button" value = "Stay" type="submit"><span></span>
      </form>
    </div>
  </body>
</html>
