<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href= "/styles/character.css">
    <meta charset="utf-8">
    <title>displays characters</title>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <div id="title" {
      <h1>Welcome to Toki Adventures </h1>
      <p>  Choose a character to start your Adventure </p>
    </div>
    <img id="dogpic" src="/media/dog.jpg">
    <img id="catpic" src="/media/cat.jpg">
    <img id="pandapic" src ="/media/panda.jpg">
  </body>
</html>
