
{% extends "templates/template.html" %}

{% block title%}
  {%if numbber == 3%}
    Make a Choice
  {%else%}
    The End!
  {%endif%}
{% endblock %}

{%block message%} {{Ppanda}} {% endblock %}

{%block image %} src="/media/panda.png" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen {%endblock%}

{%block button%}
  {%if numbber == 3%}
    <form method="get" action = "/pandapostA">
       <input id="submit_button" value = "A" type="submit"><span></span>
    </form>
    <form method="get" action = "/pandapostB">
       <input id="submit_button" value = "B" type="submit"><span></span>
    </form>
  {%else%}
    <form method="get" action = "/">
      <input id="submit_button" value = "Home" type="submit"><span></span>
    </form>
  {%endif%}
{% endblock %}
