<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/welcome.css">
    <script src="welcome.js"></script>
    <title>Main Page</title>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <h1> Toki Adventures</h1>
    <div id = "butterfly">
    <iframe src="https://giphy.com/embed/55PkuDHvG7u36" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
    <div id="button">
    <form method="get" action = "/character">
         <button id="submit_button" type="submit"><span>Choose Your Adventure</span></button>
    </form>
    </div>
  </body>
</html>
