body {
background-color: rgb(51, 204, 255);
color:white;
font-family: 'Inconsolata', monospace;
text-align: center;
font-size:50px;
grid-template-rows: 1fr 2fr 1fr;
text-shadow: 2px 2px 0px;

}

#button {
 grid-row:3;

}

#text {
display: block;
/* margin-left: auto;
margin-right: auto; */
text-align:center;
/* width: 50; */
width: 100%;

/* animation: type 1s steps(20); */
overflow: hidden;
/* white-space: nowrap; */
font-family: consolas;
/* width: 110ch; */

animation-name: text;
animation-duration: 2s;
}

@keyframes text {
    from {width: 0%; }
    to {width:100%;}
    /* from {background-color: red;}
 to {background-color: yellow;} */
}

#cont_text {
  /* word-wrap: break-word; */

}

/* @keyframes type {
0% {
  width:0ch;
}
100% {
  width:110ch;
}
} */

#submit_button {
  background-color: white;
  border: none;
  color: rgb(51, 204, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-table;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

#submit_button:hover {
  background-color: rgb(91, 255, 186);
}

#image {
 text-align: center;
 align-items: center;
 display:block;
 margin: 0px;
 grid-row: 2;
}
