body {
background-color: rgb(51, 204, 255);
color:white;
font-family: 'Ubuntu', sans-serif;
text-align: center;
font-size:50px;
grid-template-rows: 1fr 2fr 1fr;
text-shadow: 2px 2px 0px;

}

#button {
  grid-row:3;


}

#submit_button {
   background-color: white; /* Green */
   border: none;
   color: rgb(51, 204, 255);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-table;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 15px;
 }


 #submit_button:hover {
   background-color: rgb(91, 255, 186);
 }


#image {
  text-align: center;
  align-items: center;
  display:block;
  margin: 0px;
  grid-row: 2;
}
